@import "includes/bourbon/bourbon";
@import "includes/fonts";
@import "includes/defaults";
@import "includes/modifiers";
@import "includes/bootstrap-modifiers";

@import "themes/default";

//@import "elements/default";

//@import "sections/default";

//@import "pages/default";

h1, h2, h3, h4, p, a, li, body, header, main {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* {
    border-radius: 0;
}
.list-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.big-box {
    background-image: url(../images/big-box_01.png);
    background-size: cover;
    width: 50%;
    height: 100vh;
    ul {
        margin-top: 20px;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 10px;
            a img:hover {
                margin-top: -8px;
            }
        }
    }
    .bold-title {
            font-weight: 900 !important;
            font-size: 42px !important;
        }
    .description-big {
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: left;
        margin-top: 175px;
        margin-left: 5%;
        h1 {
            font-weight: 900;
            font-size: 50px;
            color: white;
        }
        h2 {
            font-weight: 400;
            font-size: 34px;
            color: white;
            margin-top: 10px;
        }
    }
}

.logo {
    background-image: url(../images/logo_03.png);
    width: 224px;
    height: 64px;
    text-indent: -9999px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 100px;
}

.popup-box {
    width: 50%;
    height: 100vh;
    
    .public-relations {
        background-image: url(../images/box_02.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: black;
            font-size: 42px;
            font-weight: 100;
            line-height: 45px;
        }
    }
    .media-relations {
        background-image: url(../images/box_03.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: white;
            font-size: 42px;
            font-weight: 100;
            line-height: 45px;
        }
    }
    .internet {
        background-image: url(../images/box_05.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: white;
            font-size: 33px;
            font-weight: 100;
            line-height: 40px;
        }
    }
    .marketing {
        background-image: url(../images/box_06.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: black;
            font-size: 33px;
            font-weight: 100;
            letter-spacing: 20px;
            line-height: 40px;
            .black {
                font-weight: 900;
                letter-spacing: normal;
            }
        }
    }
    .school {
        background-image: url(../images/box_07.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: black;
            font-size: 33px;
            font-weight: 100;
            background-color: white;
            width: 100%;
            left: 0;
            text-align: center;
            letter-spacing: 13px;
            padding: 10px;
            margin-left: 0;
            margin-top: 25px;
        }
    }
    .special-offer {
        background-image: url(../images/box_08.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h2 {
            color: white;
            font-size: 22px;
            font-weight: 100;
            line-height: 35px;
            .black {
                font-size: 34px;
            }
        }
    }
    .personal {
        background-image: url(../images/box-long_03.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .box {
        width: 50%;
        float: left;
        height: 31vh;
        overflow: hidden;
    }
    .box-long {
        width: 100%;
        height: 7vh; 
        float: left;
        h2 {
            font-size: 26px;
            color: white;
            left: 5%;
            letter-spacing: 4px;
        }
        .hidden {
            display: none;
        }
    }
    h2 {
        text-align: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        letter-spacing: 2px;
        line-height: 50px;
        width: 90%;
    }
    .black {
        font-weight: 900;
    }
    a:focus {
        text-decoration: none;
        outline: none;
    }
}

.white-popup {
  position: relative;
    top: 0;
    background-color: #000c22;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    img {
        width: 35%;
        height: 100vh;
        float: left;
    }
    .description-popup {
        width: 65%;
        float: left;
    }
    .popup-modal-dismiss {
        color: white;
        font-weight: 100;
        float: right;
        margin-top: -65px;
        letter-spacing: 2px;
        text-decoration: none;
    }
    h2 {
        color: white;
        font-weight: 900;
        letter-spacing: 3px;
    }
    p {
        color: white;
        margin-top: 80px;
        text-align: left;
        line-height: 35px;
        font-weight: 100;
        font-size: 20px;
    }
    .container-popup {
        margin-left: 100px;
        width: 80%;
        margin: 0 auto;
        margin-top: 117px;
    }
}

.mfp-container {
    padding: 0;
    margin: 0;
}

.about {
    width: 100%;
    height: 715px;
    background-color: #f3f3f3;
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-withus {
    width: 90%;
    margin: 0 auto;
    max-width: 1180px;
    margin-top: 50px;
    position: relative;
}

.background {
    background-image: url(../images/background-ellipse_03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 716px;
    z-index: 5;
    position: relative;
}

.background-mid {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 716px;
    z-index: 5;
    position: relative;
}

.box-about {
    flex: 1;
    float: left;
    z-index: 3;
    p {
        color: #011622;
        text-align: left;
        width: 377px;
        margin-top: 77px;
        line-height: 35px;
        font-size: 18px;
        font-weight: 100;
    }
    .semibold {
        font-weight: 700;
    }
}

.ellipse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: animationFrames ease 4s;
    left: 110px;
    top: -6px;
}

.element-animation{
  animation: animationFrames ease 8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease 8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease 8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
.box-about-right {
    flex: 1;
    float: right;
    z-index: 2;
    p {
        color: #011622;
        text-align: right;
        float: right;
        width: 377px;
        margin-top: 77px;
        line-height: 35px;
        font-size: 18px;
        font-weight: 100;
    }
    .semibold {
        font-weight: 700;
    }
}
.margin-box-about {
    margin-top: 190px;
    color: #011622;
    width: 377px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 100;
    p {
        text-align: right;
    }
}

.title-section {
        margin-top: 140px;
        padding: 5px 25px;
        padding-top: 10px;
        padding-right: 15px;
        background-color: #000c22;
        color: white;
        font-weight: 900;
        letter-spacing: 8px;
        display: inline-block;
    }
    .title-section:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 38px;
        background-color: #be1622;
        position: absolute;
        margin-left: 15px;
        margin-top: -5px;
    }

.title-section-left {
        margin-top: 190px;
        padding: 5px 25px;
        padding-top: 10px;
        padding-right: 55px;
        background-color: #000c22;
        color: white;
        font-weight: 900;
        letter-spacing: 8px;
        display: inline-block;
        margin-left: 170px;
    }
    .title-section-left:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 37px;
        background-color: #be1622;
        position: absolute;
        margin-left: -35px;
        margin-top: -5px;
    }

.with-us {
    height: 468px;
    .sub-title {
        margin-top: 25px;
        padding: 5px 45px;
        padding-top: 10px;
        padding-right: 35px;
        background-color: white;
        border: 2px solid #be1622;
        color: #be1622;
        font-weight: 900;
        letter-spacing: 8px;
        width: 299px;
        text-align: center;
        position: absolute;
        left: 53%;
    }
    h3 {
        margin-top: 100px;
        position: absolute;
        left: 58%;
        font-weight: 900;
        letter-spacing: 10px;
        color: #be1622;
        font-size: 33px;
        z-index: 1;
    }
    img {
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-70%);
        margin-top: 90px;
    }
}

.form {
    width: 100%;
    height: auto;
    margin-top: 118px;
    background-color: #f3f3f3;
    overflow: hidden;
    h3{
        text-align: right;
        margin-left: 35px;
        color: #be1622;
        font-weight: 900;
        letter-spacing: 10px;
        font-size: 33px;
        padding-top: 70px;
        margin-bottom: 30px;
    }
    form {
        width: 100%;
        height: auto;
        background-color: none;
        border: 2px solid #000c22;
    }
    h2 {
        padding: 10px;
        border: 2px solid #000c22;
        background-color: #f3f3f3;
        display: block;
        width: 400px;
        text-align: center;
        font-size: 33px;
        color: #000c22;
        font-weight: 900;
        letter-spacing: 10px;
        margin-top: -30px;
        margin-left: 55px;
        padding-bottom: 10px;
    }
    input {
        background: none;
        border: none;
        border-bottom: 1px solid #000c22;
        color: #000c22;
        width: 80%;
        margin-left: 55px;
        margin-right: 25px;
        margin-bottom: 35px;
        height: 60px;
        font-size: 14px;
    }
    input:focus {
        border: none;
        outline: none;
        border-bottom: 3px solid #a21420;
        transition: .5s;
    }
    textarea:focus {
        border-bottom: 3px solid #a21420;
        transition: .5s;
    }
    label {
        margin-bottom: -25px;
        margin-left: 55px;
    }
    label:first-child {
        margin-top: 65px;
    }
    .box-form {
        width: 50%;
        float: left;
        margin-top: 25px;
    }
    textarea {
        width: 80%;
        margin-left: 25px;
        border: none;
        border-bottom: 1px solid #000c22;
        background: none;
        outline: none;
        height: 230px;
        max-height: 230px;
        max-width: 80%;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 0;
    }
    .text-area {
        label {
            margin-left: 25px;
        }
    }
    input[type="submit"] {
        width: 250px;
        color: white;
        font-weight: 900;
        font-size: 33px;
        background-color: #a21420;
        text-align: center;
        padding: 10px;
        height: 60px;
        border: none;
        position: relative;
        top: 30px;
        letter-spacing: 10px;
        display: block;
        margin: 0 auto;
        left: 105px;
        padding-top: 5px;
        border: 3px solid #a21420;
        &:hover {
            background-color: white;
            border: 3px solid #a21420;
            color: #a21420;
            transition: .5s;
        }
    }
    img {
        position: absolute;
        left: 90%;
        margin-top: -350px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #a21420;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

  

::-webkit-input-placeholder {
   color: #000c22;
 
}

:-moz-placeholder { /* Firefox 18- */
   color: #000c22; 
 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000c22; 
   
}

:-ms-input-placeholder {  
   color: #000c22; 
  
    }

.container-hidden {
    display: none;
    img {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .ellipse {
        display: none;
    }
}

@media only screen and (max-width: 970px) {
    .container {
        flex-direction: column;
    }
    .background {
        background: none;
    }
    
    .about {
        height: auto;
    }
    
    .box-about-right {
        margin-top: 0px;
    }
    .margin-box-about p {
        text-align: left;
        padding-bottom: 100px;
    }
    .big-box {
        width: 100%;
    }
    .list-box {
        flex-direction: column;
    }
    .popup-box {
        width: 100%;
    }
    .with-us {
        display: none;
    }
    .form img {
        display: none;
    }
    input[type="submit"] {
        margin: 0 auto;
    }
    .background {
        height: auto;
    }
    .form {
        margin-top: -50px;
    }
    .box-about p {
        width: 100%;
    }
    .margin-box-about {
        width: 100%;
    }
    .box-about-right p {
        margin: 0;
        width: 100%;
        margin-top: 45px;
    }
    .container-hidden {
        display: block;
        width: 100%;
        height: 312px;
        img {
            display: inline-block !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media only screen and (max-width: 1500px) {
    .popup-box .box h2 {
        font-size: 24px;
    }
    .popup-box .box-long h2 {
        font-size: 24px;
    }
    
    .form input[type="submit"] {
        left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .black {
        letter-spacing: 0;
    }
    .popup-box .box-long h2 {
        font-size: 16px;
    }
    .box-form {
        width: 100%;
        float: none;
    }
    .big-box {
        height: 900px;
    }
    .title-section {
        font-size: 24px;
    }
    .title-section:after {
        height: 32px;
    }
    
    .form .container-withus form .box-form {
        width: 100%;
    }
    .form .container-withus form {
        height: 750px;
    }
    .form label:first-child {
        margin-top: 35px;
    }
    .form textarea {
        margin-left: 45px;
        margin-top: 20px;
    }
    .form .text-area label {
        margin-left: 55px;
    }
    .form h3 {
        text-align: center;
        padding: 15px;
    }
    .form h2 {
        width: 250px;
        margin: 0 auto;
        margin-top: -35px;
    }
    .form p {
        text-align: center;
    }
    .popup-box .marketing h2 {
        margin-top: 15px;
    }
    .form input {
        margin-left: 45px;
    }
    .container-hidden {
        display: block;
        width: 100%;
        height: 312px;
        position: relative;
        img {
            display: inline-block !important;
            position: absolute;
            top: 15%;
            width: 400px;
            height: 162px;
        }
    }
    .school h2 {
        margin-top: 0;
    }
    
}

@media only screen and (max-width: 800px) {
    .white-popup {
        width: 100%;
        height: 100%;
        img {
            display: none;
        }
        p {
            width: 100%;
            padding-bottom: 50px;
        }
        .contanier-popup {
            width: 100%;
            margin: 0 auto;
        }
        .description-popup {
            margin: 0 auto;
            width: 100%;
            text-align: justify;
        }
    }
}

@media only screen and (max-width: 430px) {
    .about p {
        font-size: 14px;
    }
    
    .title-section:after {
        display: none;
    }
    .form label {
        margin-left: 30px;
    }
    .form input {
        margin-left: 30px;
    }
    
    .form textarea {
        margin-left: 0px;
    }
    
    .form .text-area {
        margin-left: 30px;
        label {
            margin-left: 0;
        }
    }
    .box-long h2 {
        font-size: 9px;
    }
    .marketing .box h2 {
        margin-top: -5px;
    }
    .form h2 {
        width: 90%;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
        margin-top: -30px;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .box-about p {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        margin-top: 40px;
    }
    .box-about-right, .margin-box-about p {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        margin-top: 40px;
        width: 282px;
    }
    .popup-box .marketing h2 {
        margin-top: -20px;
    }
    .popup-box .box h2 {
        font-size: 16px;
    }
    .popup-box .personal h2 {
        font-size: 14px;
    }
    .about .box-about p {
        margin-left: 0;
    }
    .popup-box .school h2 {
        margin-top: 60px;
    }
    .popup-box .box h2 {
        line-height: 30px;
    }
    .popup-box .special-offer h2 .black {
        font-size: 18px;
    }
}

@media only screen and (max-width:1175px) {
    .popup-box .marketing h2 {
        letter-spacing: 0;
    }
    .popup-box .school h2 {
        letter-spacing: 0;
    }
}


@media only screen and (max-width: 700px) {
    .big-box .description-big {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1170px) {
    .popup-box .personal h2 {
        font-size: 18px;
    }
}
