	</div>
	<!-- #page -->

	<!-- build:js_vendor assets/js/vendor.js -->
	<script src="assets/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="assets/vendor/modernizr/modernizr.full-2.8.3.min.js"></script>
	<script src="assets/vendor/modernizr/modernizr.display.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>   
    <script src="assets/vendor/app-ajax.js"></script>
    <script src="assets/vendor/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
	<!-- endbuild -->
	<!-- build:js_app assets/js/app.js -->
	<script src="assets/js/app.js"></script>
<!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="assets/vendor/magnific-popup.css">

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="assets/vendor/jquery/jquery-2.1.4.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="assets/vendor/jquery.magnific-popup.js"></script>
	<!-- endbuild -->
    <script type="text/javascript">
        
      $(function () {
        $('.open-popup-link').magnificPopup({
          type: 'inline',
          preloader: false,
          focus: '#username',
          modal: true
        });
        $(document).on('click', '.popup-modal-dismiss', function (e) {
          e.preventDefault();
          $.magnificPopup.close();
        });
      });
    
</script>
<script>
            /* attach a submit handler to the form */
            $("#ajax-contact").submit(function(event) {

                

                /* get some values from elements on the page: */
                var $form = $(this),
                    term = $form.find('input[name="s"]').val(),
                    url = $form.attr('action');

                /* Send the data using post */
                var posting = $.post(url, {
                    s: term
                });

                /* Put the results in a div */
                posting.done(function(data) {
                    var content = 'Wypełnij wszystkie pola';
                    $("#form-messages").empty().append(content);
                    
                });
            });
        </script>
</body>
</html>