<!-- @include{.header.html} -->

		<section class="list-box">
            <article class="big-box">
                <h1 class="logo">NEWS</h1>
                <ul>
                    <li><a href="#"><img src="assets/images/icon-header_03.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/icon-header_05.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/icon-header_07.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/icon-header_09.png" alt=""></a></li>
                </ul>
                <div class="description-big wow fadeInLeft">
                    <h2 class="bold-title">Media to świat,<br>który wypada zrozumieć</h2>
                    <h2>Tak jest bezpieczniej!</h2>
                </div>
            </article>
            <section class="popup-box">
                <a href="#public-relations" class="open-popup-link">
                    <article class="public-relations box">
                        <h2>PUBLIC<br><span class="black">RELATIONS</span></h2>
                    </article>
                </a>
                <a href="#media-relations" class="open-popup-link">
                    <article class="media-relations box">
                        <h2>MEDIA<br><span class="black">RELATIONS</span></h2>
                    </article>
                </a>
                <a href="#internet" class="open-popup-link">
                    <article class="internet box">
                        <h2>SENTYMENT<br><span class="black">INTERNETOWY</span></h2>
                    </article>
                </a>
                <a href="#marketing" class="open-popup-link">
                    <article class="marketing box">
                        <h2>SZEROKIE<br><span class="black">KAMPANIE<br>MARKETINGOWE</span></h2>
                    </article>
                </a>
                <a href="#school" class="open-popup-link">
                    <article class="school box">
                        <h2><span class="black">SZKOLENIA</span></h2>
                    </article>
                </a>
                <a href="#samorzad" class="open-popup-link">
                    <article class="special-offer box">
                        <h2><span class="black">SAMORZĄD<br></span>OFERTA SPECJALNA</h2>
                    </article>
                </a>
                <a href="#">
                    <article class="personal box-long">
                        <h2 class="box-long-title"><span class="black">ROZWÓJ OSOBISTY</span> MANAGERÓW</h2>
                    </article>
                </a>
            </section>
                <div id="public-relations" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-public_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">PUBLIC RELATIONS</h2>
                            <p class="wow fadeInUp">Kształtujemy wizerunek osób, firm, instytucji we wszystkich kanałach komunikacji. Media, otoczenie biznesowe, polityczne, społeczne oraz kształtowanie przekazu w sieci. Wszystko to równoważne elementy postrzegania Ciebie przez innych. </p>
                        </div>
                    </div>
                </div>
            <div id="media-relations" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-media_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">MEDIA RELATIONS</h2>
                            <p class="wow fadeInUp">Kompleksowo kształtujemy współpracę z mediami branżowymi, regionalnymi, krajowymi.  Bezpośredni kontakt z dziennikarzami, moderowanie przekazu medialnego, stała redakcja i kreowanie przekazu dla prasy. Dla nas to codzienność.</p>
                        </div>
                    </div>
                </div>
            <div id="internet" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-internet_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">SENTYMENT<BR>INTERNETOWY</h2>
                            <p class="wow fadeInUp">Przestrzeń komunikacyjna, o której nie sposób dziś zapomnieć. Kształtowanie wizerunku w Internecie, to dziś nie tylko prosta obsługa mediów społecznościowych. Wiemy to i dlatego naszym klientom proponujemy kompletny zestaw długofalowych działań budujących pozytywny przekaz w sieci.</p>
                        </div>
                    </div>
                </div>
            <div id="school" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-school_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">SZKOLENIA</h2>
                            <p class="wow fadeInUp">Prowadzimy treningi medialne dla liderów opinii, zarządów spółek, polityków, samorządowców. Jak odpowiadać na niewygodne pytania, jak zachować się przed kamerą i czym różni się wywiad od „setki” – to tylko niektóre z tematów, które możemy razem przepracować. </p>
                        </div>
                    </div>
                </div>
                <div id="marketing" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-marketing_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">SZEROKIE KAMPANIE <br> MARKETINGOWE</h2>
                            <p class="wow fadeInUp">Wkrótce uzupełnimy...</p>
                        </div>
                    </div>
                </div>
                <div id="samorzad" class="white-popup mfp-hide">
                    <img class="wow fadeInLeft" src="assets/images/popup-samorzad_01.png" alt="">
                    <div class="description-popup">
                        <div class="container-popup">
                            <a href="#" class="popup-modal-dismiss">ZAMKNIJ</a>
                            <h2 class="title-popup wow fadeInUp">SAMORZĄD - OFERTA SPECJALNA</h2>
                            <p class="wow fadeInUp">Kampania wyborcza rozpoczyna się następnego dnia po wyborach. Dla tych, którzy o tym pamiętają - na dwa lata przed wyborami samorządowymi przygotowaliśmy dedykowany właśnie dla samorządów kompleksowy program polityki informacyjnej, który sprawi, że Państwa komunikacja z mieszkańcami i otoczeniem nabierze nowego wymiaru.  </p>
                        </div>
                    </div>
                </div>
        </section>
            
        <section class="about">
            <div class="container background">
                <img class="ellipse element-animation" src="assets/images/ellipse.png" alt="">
                <div class="box-about wow fadeInDown" data-wow-offset="100">
                    <h2 class="title-section">KIM JESTEŚMY</h2>
                    <p>Media to świat, który wypada rozumieć. Tak jest bezpieczniej. Zespół NEWS potrafi odpowiadać na jego oczekiwania i wpływać na kształt medialnej rzeczywistości. Jesteśmy ludźmi od lat zajmującymi się komunikacją oraz dziennikarstwem. <span class="semibold">Praktycy radia, telewizji, prasy, mediów społecznościowych oraz animatorzy kampanii informacyjnych i wyborczych oraz procesów zarządzania komunikacją kryzysową.</span></p>
                </div>
                <div class="box-about-right margin-box-about wow fadeInDown">
                    <p>Pracujemy projektowo. Do każdego zadania dobieramy skrojony na miarę zespół, który zagwarantuje właściwe rozłożenie akcentów oraz dopasowany do potrzeb zleceniodawcy przekaz. Kształtujemy wizerunek osób, przedsiębiorstw i instytucji.</p>
                </div>
            </div>    
        </section>
            
        <section class="with-us wow fadeInLeft" data-wow-offset="100">
            <div class="container-withus">
                <h2 class="title-section-left">WYPRDZEDŹ</h2>  
                <h2 class="sub-title">Z NAMI</h2>
                <h3>KONKURENCJĘ</h3>
                <img class="zoom" src="assets/images/background-withus_03.png" alt="">
            </div>
        </section>
            
            <div class="container-hidden">
                <img class="hidden" src="assets/images/home_03.png" alt="">
            </div>
            
        <section class="form">
            <div class="container-withus">
                <h3 class="tel wow fadeInRight" data-wow-offset="100">tel: 555 222 555</h3>
                <form id="ajax-contact" method="POST" action="mail.php">
                    <h2>KONTAKT</h2>
                    <div class="box-form">
                        <input type="text" name="imie" placeholder="Imie">
                        <input type="text" name="email" placeholder="E-mail">
                        <input type="text" name="telefon" placeholder="Telefon">
                        <div id="form-messages" class="desktop-message"></div>
                    </div>
                    <div class="box-form text-area">
                        <textarea name="tresc" placeholder="Wpisz treść wiadomości"></textarea>
                    </div>
                    <div id="form-messages" class="mobile-message"></div>
                    <input type="submit" name="send" value="WYŚLIJ">
                    <img src="assets/images/pen_07.png" alt="">
                </form>
                <p>News, ul. Złota 44 Warszawa</p>
            </div>
        </section>

<!-- @include{.footer.html} -->