@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/montserrat-black-webfont.woff2") format("woff2"), url("../../assets/fonts/montserrat-black-webfont.woff") format("woff"), url("../../assets/fonts/montserrat-black-webfont.ttf") format("truetype"), url("../../assets/fonts/montserrat-black-webfont.svg#montserratblack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/montserrat-light-webfont.woff2") format("woff2"), url("../../assets/fonts/montserrat-light-webfont.woff") format("woff"), url("../../assets/fonts/montserrat-light-webfont.ttf") format("truetype"), url("../../assets/fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/montserrat-regular-webfont.woff") format("woff"), url("../../assets/fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../../assets/fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../../assets/fonts/montserrat-semibold-webfont.woff") format("woff"), url("../../assets/fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../../assets/fonts/montserrat-semibold-webfont.svg#montserratsemibold") format("svg");
  font-weight: 700;
  font-style: normal; }

/* Font sizes */
.text-xxs {
  font-size: 0.625em;
  line-height: 1.45em; }

.text-xs {
  font-size: 0.75em;
  line-height: 1.45em; }

.text-sm {
  font-size: 0.875em;
  line-height: 1.45em; }

.text-md {
  font-size: 1.1875em;
  line-height: 1.45em; }

.text-lg {
  font-size: 1.5625em;
  line-height: 1.45em; }

.text-xlg {
  font-size: 2em;
  line-height: 1.45em; }

.text-xxlg {
  font-size: 2.8125em;
  line-height: 1.45em; }

/* Font weights */
.text-wxl {
  font-weight: 100; }

.text-wl {
  font-weight: 200; }

.text-wn {
  font-weight: 400; }

.text-wsb {
  font-weight: 600; }

.text-wb {
  font-weight: 700; }

.text-wxb {
  font-weight: 900; }

/* Text cases */
.text-ncase {
  text-transform: none; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

/* Font styles */
.text-normal {
  font-style: normal; }

.text-italic {
  font-style: italic; }

.text-strike {
  text-decoration: line-through; }

.text-spaced {
  letter-spacing: .2em; }

/* Text alignment */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/* Colors */
.text-black {
  color: #000 !important; }

.bg-black {
  background-color: #000 !important; }

.b-black {
  border-color: #000 !important; }
  .b-black:before {
    border-color: #000 !important; }
  .b-black:after {
    border-color: #000 !important; }

.border-black {
  border: 1px solid #000 !important; }

.border-left-black {
  border-left: 1px solid #000 !important; }

.border-top-black {
  border-top: 1px solid #000 !important; }

.border-right-black {
  border-right: 1px solid #000 !important; }

.border-bottom-black {
  border-bottom: 1px solid #000 !important; }

.text-white {
  color: #fff !important; }

.bg-white {
  background-color: #fff !important; }

.b-white {
  border-color: #fff !important; }
  .b-white:before {
    border-color: #fff !important; }
  .b-white:after {
    border-color: #fff !important; }

.border-white {
  border: 1px solid #fff !important; }

.border-left-white {
  border-left: 1px solid #fff !important; }

.border-top-white {
  border-top: 1px solid #fff !important; }

.border-right-white {
  border-right: 1px solid #fff !important; }

.border-bottom-white {
  border-bottom: 1px solid #fff !important; }

/** Backgrounds */
.bg-none {
  background-color: transparent; }

.b-none {
  border: 0 !important; }

.bt-none {
  border-top: 0 !important; }

.br-none {
  border-right: 0 !important; }

.bb-none {
  border-bottom: 0 !important; }

.bl-none {
  border-left: 0 !important; }

/* Border sizes */
.b-xs {
  border-width: 1px !important; }

.bt-xs {
  border-top-width: 1px !important; }

.br-xs {
  border-right-width: 1px !important; }

.bb-xs {
  border-bottom-width: 1px !important; }

.bl-xs {
  border-left-width: 1px !important; }

.b-sm {
  border-width: 2px !important; }

.bt-sm {
  border-top-width: 2px !important; }

.br-sm {
  border-right-width: 2px !important; }

.bb-sm {
  border-bottom-width: 2px !important; }

.bl-sm {
  border-left-width: 2px !important; }

.b-md {
  border-width: 4px !important; }

.bt-md {
  border-top-width: 4px !important; }

.br-md {
  border-right-width: 4px !important; }

.bb-md {
  border-bottom-width: 4px !important; }

.bl-md {
  border-left-width: 4px !important; }

.b-lg {
  border-width: 6px !important; }

.bt-lg {
  border-top-width: 6px !important; }

.br-lg {
  border-right-width: 6px !important; }

.bb-lg {
  border-bottom-width: 6px !important; }

.bl-lg {
  border-left-width: 6px !important; }

.b-xlg {
  border-width: 10px !important; }

.bt-xlg {
  border-top-width: 10px !important; }

.br-xlg {
  border-right-width: 10px !important; }

.bb-xlg {
  border-bottom-width: 10px !important; }

.bl-xlg {
  border-left-width: 10px !important; }

.b-xxlg {
  border-width: 15px !important; }

.bt-xxlg {
  border-top-width: 15px !important; }

.br-xxlg {
  border-right-width: 15px !important; }

.bb-xxlg {
  border-bottom-width: 15px !important; }

.bl-xxlg {
  border-left-width: 15px !important; }

/* Utilities */
.float-none,
.clear-float,
.no-float {
  float: none !important; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-auto {
  overflow: auto; }

.display-block {
  display: block; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

html.display-table .display-table {
  display: table; }

html.display-table-row .display-table-row {
  display: table-row; }

html.display-table-cell .display-table-cell {
  display: table-cell; }

.position-absolute {
  position: absolute; }

.position-static {
  position: static; }

.position-relative {
  position: relative; }

/* Spacement */
.m-auto {
  margin: 0 auto !important; }

.m-none {
  margin: 0 !important; }

.mt-none {
  margin-top: 0 !important; }

.mr-none {
  margin-right: 0 !important; }

.mb-none {
  margin-bottom: 0 !important; }

.ml-none {
  margin-left: 0 !important; }

.p-none {
  padding: 0 !important; }

.pt-none {
  padding-top: 0 !important; }

.pr-none {
  padding-right: 0 !important; }

.pb-none {
  padding-bottom: 0 !important; }

.pl-none {
  padding-left: 0 !important; }

.m-xs {
  margin: 5px !important; }

.mt-xs {
  margin-top: 5px !important; }

.mr-xs {
  margin-right: 5px !important; }

.mb-xs {
  margin-bottom: 5px !important; }

.ml-xs {
  margin-left: 5px !important; }

.m-neg-xs {
  margin: -5px !important; }

.mt-neg-xs {
  margin-top: -5px !important; }

.mr-neg-xs {
  margin-right: -5px !important; }

.mb-neg-xs {
  margin-bottom: -5px !important; }

.ml-neg-xs {
  margin-left: -5px !important; }

.p-xs {
  padding: 5px !important; }

.pt-xs {
  padding-top: 5px !important; }

.pr-xs {
  padding-right: 5px !important; }

.pb-xs {
  padding-bottom: 5px !important; }

.pl-xs {
  padding-left: 5px !important; }

.p-neg-xs {
  padding: -5px !important; }

.pt-neg-xs {
  padding-top: -5px !important; }

.pr-neg-xs {
  padding-right: -5px !important; }

.pb-neg-xs {
  padding-bottom: -5px !important; }

.pl-neg-xs {
  padding-left: -5px !important; }

.m-sm {
  margin: 10px !important; }

.mt-sm {
  margin-top: 10px !important; }

.mr-sm {
  margin-right: 10px !important; }

.mb-sm {
  margin-bottom: 10px !important; }

.ml-sm {
  margin-left: 10px !important; }

.m-neg-sm {
  margin: -10px !important; }

.mt-neg-sm {
  margin-top: -10px !important; }

.mr-neg-sm {
  margin-right: -10px !important; }

.mb-neg-sm {
  margin-bottom: -10px !important; }

.ml-neg-sm {
  margin-left: -10px !important; }

.p-sm {
  padding: 10px !important; }

.pt-sm {
  padding-top: 10px !important; }

.pr-sm {
  padding-right: 10px !important; }

.pb-sm {
  padding-bottom: 10px !important; }

.pl-sm {
  padding-left: 10px !important; }

.p-neg-sm {
  padding: -10px !important; }

.pt-neg-sm {
  padding-top: -10px !important; }

.pr-neg-sm {
  padding-right: -10px !important; }

.pb-neg-sm {
  padding-bottom: -10px !important; }

.pl-neg-sm {
  padding-left: -10px !important; }

.m-md {
  margin: 15px !important; }

.mt-md {
  margin-top: 15px !important; }

.mr-md {
  margin-right: 15px !important; }

.mb-md {
  margin-bottom: 15px !important; }

.ml-md {
  margin-left: 15px !important; }

.m-neg-md {
  margin: -15px !important; }

.mt-neg-md {
  margin-top: -15px !important; }

.mr-neg-md {
  margin-right: -15px !important; }

.mb-neg-md {
  margin-bottom: -15px !important; }

.ml-neg-md {
  margin-left: -15px !important; }

.p-md {
  padding: 15px !important; }

.pt-md {
  padding-top: 15px !important; }

.pr-md {
  padding-right: 15px !important; }

.pb-md {
  padding-bottom: 15px !important; }

.pl-md {
  padding-left: 15px !important; }

.p-neg-md {
  padding: -15px !important; }

.pt-neg-md {
  padding-top: -15px !important; }

.pr-neg-md {
  padding-right: -15px !important; }

.pb-neg-md {
  padding-bottom: -15px !important; }

.pl-neg-md {
  padding-left: -15px !important; }

.m-lg {
  margin: 20px !important; }

.mt-lg {
  margin-top: 20px !important; }

.mr-lg {
  margin-right: 20px !important; }

.mb-lg {
  margin-bottom: 20px !important; }

.ml-lg {
  margin-left: 20px !important; }

.m-neg-lg {
  margin: -20px !important; }

.mt-neg-lg {
  margin-top: -20px !important; }

.mr-neg-lg {
  margin-right: -20px !important; }

.mb-neg-lg {
  margin-bottom: -20px !important; }

.ml-neg-lg {
  margin-left: -20px !important; }

.p-lg {
  padding: 20px !important; }

.pt-lg {
  padding-top: 20px !important; }

.pr-lg {
  padding-right: 20px !important; }

.pb-lg {
  padding-bottom: 20px !important; }

.pl-lg {
  padding-left: 20px !important; }

.p-neg-lg {
  padding: -20px !important; }

.pt-neg-lg {
  padding-top: -20px !important; }

.pr-neg-lg {
  padding-right: -20px !important; }

.pb-neg-lg {
  padding-bottom: -20px !important; }

.pl-neg-lg {
  padding-left: -20px !important; }

.m-xlg {
  margin: 30px !important; }

.mt-xlg {
  margin-top: 30px !important; }

.mr-xlg {
  margin-right: 30px !important; }

.mb-xlg {
  margin-bottom: 30px !important; }

.ml-xlg {
  margin-left: 30px !important; }

.m-neg-xlg {
  margin: -30px !important; }

.mt-neg-xlg {
  margin-top: -30px !important; }

.mr-neg-xlg {
  margin-right: -30px !important; }

.mb-neg-xlg {
  margin-bottom: -30px !important; }

.ml-neg-xlg {
  margin-left: -30px !important; }

.p-xlg {
  padding: 30px !important; }

.pt-xlg {
  padding-top: 30px !important; }

.pr-xlg {
  padding-right: 30px !important; }

.pb-xlg {
  padding-bottom: 30px !important; }

.pl-xlg {
  padding-left: 30px !important; }

.p-neg-xlg {
  padding: -30px !important; }

.pt-neg-xlg {
  padding-top: -30px !important; }

.pr-neg-xlg {
  padding-right: -30px !important; }

.pb-neg-xlg {
  padding-bottom: -30px !important; }

.pl-neg-xlg {
  padding-left: -30px !important; }

.m-xxlg {
  margin: 40px !important; }

.mt-xxlg {
  margin-top: 40px !important; }

.mr-xxlg {
  margin-right: 40px !important; }

.mb-xxlg {
  margin-bottom: 40px !important; }

.ml-xxlg {
  margin-left: 40px !important; }

.m-neg-xxlg {
  margin: -40px !important; }

.mt-neg-xxlg {
  margin-top: -40px !important; }

.mr-neg-xxlg {
  margin-right: -40px !important; }

.mb-neg-xxlg {
  margin-bottom: -40px !important; }

.ml-neg-xxlg {
  margin-left: -40px !important; }

.p-xxlg {
  padding: 40px !important; }

.pt-xxlg {
  padding-top: 40px !important; }

.pr-xxlg {
  padding-right: 40px !important; }

.pb-xxlg {
  padding-bottom: 40px !important; }

.pl-xxlg {
  padding-left: 40px !important; }

.p-neg-xxlg {
  padding: -40px !important; }

.pt-neg-xxlg {
  padding-top: -40px !important; }

.pr-neg-xxlg {
  padding-right: -40px !important; }

.pb-neg-xxlg {
  padding-bottom: -40px !important; }

.pl-neg-xxlg {
  padding-left: -40px !important; }

/* Bootstrap grid adjustments */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

/* Right-sided grid offsets */
.col-xs-offset-right-12 {
  margin-right: 100%; }

.col-xs-offset-right-11 {
  margin-right: 91.66666667%; }

.col-xs-offset-right-10 {
  margin-right: 83.33333333%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-8 {
  margin-right: 66.66666667%; }

.col-xs-offset-right-7 {
  margin-right: 58.33333333%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-5 {
  margin-right: 41.66666667%; }

.col-xs-offset-right-4 {
  margin-right: 33.33333333%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-2 {
  margin-right: 16.66666667%; }

.col-xs-offset-right-1 {
  margin-right: 8.33333333%; }

.col-xs-offset-right-0 {
  margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%; }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-sm-offset-right-9 {
    margin-right: 75%; }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-sm-offset-right-6 {
    margin-right: 50%; }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-sm-offset-right-3 {
    margin-right: 25%; }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-sm-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%; }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-md-offset-right-9 {
    margin-right: 75%; }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-md-offset-right-6 {
    margin-right: 50%; }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-md-offset-right-3 {
    margin-right: 25%; }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-md-offset-right-0 {
    margin-right: 0; } }

@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%; }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%; }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%; }
  .col-lg-offset-right-9 {
    margin-right: 75%; }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%; }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%; }
  .col-lg-offset-right-6 {
    margin-right: 50%; }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%; }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%; }
  .col-lg-offset-right-3 {
    margin-right: 25%; }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%; }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%; }
  .col-lg-offset-right-0 {
    margin-right: 0; } }

h1, h2, h3, h4, p, a, li, body, header, main {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  text-decoration: none; }

* {
  border-radius: 0; }

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.list-box {
  width: 100%;
  height: 100%;
  display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
  flex-direction: row;
    flex-direction: -ms-row;}

.big-box {
  background-image: url(../images/big-box_01.png);
  background-size: cover;
  width: 50%;
  height: 100vh; }
  .big-box ul {
    margin-top: 20px;
    text-align: center; }
    .big-box ul li {
      display: inline-block;
      padding: 0 10px; }
      .big-box ul li a img:hover {
        margin-top: -8px; }
  .big-box .bold-title {
    font-weight: 900 !important;
    font-size: 42px !important; }
  .big-box .description-big {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    margin-top: 175px;
    margin-left: 5%; }
    .big-box .description-big h1 {
      font-weight: 900;
      font-size: 50px;
      color: white; }
    .big-box .description-big h2 {
      font-weight: 400;
      font-size: 34px;
      color: white;
      margin-top: 10px; }

.logo {
  background-image: url(../images/logo_03.png);
  width: 224px;
  height: 64px;
  text-indent: -9999px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 100px; }

.popup-box {
  width: 50%;
  height: 100vh; }
  .popup-box .public-relations {
    background-image: url(../images/box_02.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .public-relations h2 {
      color: black;
      font-size: 42px;
      font-weight: 100;
      line-height: 45px; }
  .popup-box .media-relations {
    background-image: url(../images/box_03.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .media-relations h2 {
      color: white;
      font-size: 42px;
      font-weight: 100;
      line-height: 45px; }
  .popup-box .internet {
    background-image: url(../images/box_05.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .internet h2 {
      color: white;
      font-size: 33px;
      font-weight: 100;
      line-height: 40px; }
  .popup-box .marketing {
    background-image: url(../images/box_06.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .marketing h2 {
      color: black;
      font-size: 33px;
      font-weight: 100;
      letter-spacing: 20px;
      line-height: 40px; }
      .popup-box .marketing h2 .black {
        font-weight: 900;
        letter-spacing: normal; }
  .popup-box .school {
    background-image: url(../images/box_07.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .school h2 {
      color: black;
      font-size: 33px;
      font-weight: 100;
      background-color: white;
      width: 100%;
      left: 0;
      text-align: center;
      letter-spacing: 13px;
      padding: 10px;
      margin-left: 0;
      margin-top: 25px; }
  .popup-box .special-offer {
    background-image: url(../images/box_08.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; }
    .popup-box .special-offer h2 {
      color: white;
      font-size: 22px;
      font-weight: 100;
      line-height: 35px; }
      .popup-box .special-offer h2 .black {
        font-size: 34px; }
  .popup-box .personal {
    background-image: url(../images/box-long_03.png);
    background-size: cover;
    width: 100%;
    height: 100%; }
  .popup-box .box {
    width: 50%;
    float: left;
    height: 31vh;
    overflow: hidden; }
  .popup-box .box-long {
    width: 100%;
    height: 7vh;
    float: left; }
    .popup-box .box-long h2 {
      font-size: 26px;
      color: white;
      left: 5%;
      letter-spacing: 4px; }
    .popup-box .box-long .hidden {
      display: none; }
  .popup-box h2 {
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    letter-spacing: 2px;
    line-height: 50px;
    width: 90%; }
  .popup-box .black {
    font-weight: 900; }
  .popup-box a:focus {
    text-decoration: none;
    outline: none; }

.white-popup {
  position: relative;
  top: 0;
  background-color: #000c22;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left; }
  .white-popup img {
    width: 35%;
    height: 100vh;
    float: left; }
  .white-popup .description-popup {
    width: 65%;
    float: left; }
  .white-popup .popup-modal-dismiss {
    color: white;
    font-weight: 100;
    float: right;
    margin-top: -65px;
    letter-spacing: 2px;
    text-decoration: none; }
  .white-popup h2 {
    color: white;
    font-weight: 900;
    letter-spacing: 3px; }
  .white-popup p {
    color: white;
    margin-top: 80px;
    text-align: left;
    line-height: 35px;
    font-weight: 100;
    font-size: 20px; }
  .white-popup .container-popup {
    margin-left: 100px;
    width: 80%;
    margin: 0 auto;
    margin-top: 117px; }

.mfp-container {
  padding: 0;
  margin: 0; }

.about {
  width: 100%;
  height: 715px;
  background-color: #f3f3f3;
  overflow: hidden; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.container-withus {
  width: 90%;
  margin: 0 auto;
  max-width: 1180px;
  margin-top: 50px;
  position: relative; }

.background {
  background-image: url(../images/background-ellipse_03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 716px;
  z-index: 5;
  position: relative; }

.background-mid {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  height: 716px;
  z-index: 5;
  position: relative; }

.box-about {
  flex: 1;
  float: left;
  z-index: 3; }
  .box-about p {
    color: #011622;
    text-align: left;
    width: 377px;
    margin-top: 77px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 100; }
  .box-about .semibold {
    font-weight: 700; }

.ellipse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: animationFrames ease 4s;
  left: 110px;
  top: -6px; }

.mobile-message {
    display: none;
}

.element-animation {
  animation: animationFrames ease 8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease 8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease 8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: scaleX(1) scaleY(1); }
  50% {
    transform: scaleX(1.2) scaleY(1.2); }
  100% {
    transform: scaleX(1) scaleY(1); } }

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: scaleX(1) scaleY(1); }
  50% {
    -moz-transform: scaleX(1.2) scaleY(1.2); }
  100% {
    -moz-transform: scaleX(1) scaleY(1); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: scaleX(1) scaleY(1); }
  50% {
    -webkit-transform: scaleX(1.2) scaleY(1.2); }
  100% {
    -webkit-transform: scaleX(1) scaleY(1); } }

@-o-keyframes animationFrames {
  0% {
    -o-transform: scaleX(1) scaleY(1); }
  50% {
    -o-transform: scaleX(1.2) scaleY(1.2); }
  100% {
    -o-transform: scaleX(1) scaleY(1); } }

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: scaleX(1) scaleY(1); }
  50% {
    -ms-transform: scaleX(1.2) scaleY(1.2); }
  100% {
    -ms-transform: scaleX(1) scaleY(1); } }

.box-about-right {
  flex: 1;
  float: right;
  z-index: 2; }
  .box-about-right p {
    color: #011622;
    text-align: right;
    float: right;
    width: 377px;
    margin-top: 47px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 100; }
  .box-about-right .semibold {
    font-weight: 700; }

.margin-box-about {
  margin-top: 190px;
  color: #011622;
  width: 377px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 100; }
  .margin-box-about p {
    text-align: right; }

.title-section {
  margin-top: 110px;
  padding: 5px 25px;
  padding-top: 10px;
  padding-right: 15px;
  background-color: #000c22;
  color: white;
  font-weight: 900;
  letter-spacing: 8px;
  display: inline-block; }

.title-section:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 38px;
  background-color: #be1622;
  position: absolute;
  margin-left: 15px;
  margin-top: -5px; }

.title-section-left {
  margin-top: 190px;
  padding: 5px 25px;
  padding-top: 10px;
  padding-right: 55px;
  background-color: #000c22;
  color: white;
  font-weight: 900;
  letter-spacing: 8px;
  display: inline-block;
  margin-left: 170px; }

.title-section-left:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 37px;
  background-color: #be1622;
  position: absolute;
  margin-left: -35px;
  margin-top: -5px; }

.with-us {
  height: 468px; }
  .with-us .sub-title {
    margin-top: 25px;
    padding: 5px 45px;
    padding-top: 10px;
    padding-right: 35px;
    background-color: white;
    border: 2px solid #be1622;
    color: #be1622;
    font-weight: 900;
    letter-spacing: 8px;
    width: 299px;
    text-align: center;
    position: absolute;
    left: 53%; }
  .with-us h3 {
    margin-top: 100px;
    position: absolute;
    left: 58%;
    font-weight: 900;
    letter-spacing: 10px;
    color: #be1622;
    font-size: 33px;
    z-index: 1; }
  .with-us img {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-70%);
    margin-top: 90px; }

.form {
  width: 100%;
  height: auto;
  margin-top: 118px;
  background-color: #f3f3f3;
  overflow: hidden; }
  .form h3 {
    text-align: right;
    margin-left: 35px;
    color: #be1622;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 33px;
    padding-top: 70px;
    margin-bottom: 30px; }
  .form form {
    width: 100%;
    height: auto;
    background-color: none;
    border: 2px solid #000c22; }
  .form h2 {
    padding: 10px;
    border: 2px solid #000c22;
    background-color: #f3f3f3;
    display: block;
    width: 400px;
    text-align: center;
    font-size: 33px;
    color: #000c22;
    font-weight: 900;
    letter-spacing: 10px;
    margin-top: -30px;
    margin-left: 55px;
    padding-bottom: 10px; }
  .form input {
    background: none;
    border: none;
    border-bottom: 1px solid #000c22;
    color: #000c22;
    width: 80%;
    margin-left: 55px;
    margin-right: 25px;
    margin-bottom: 35px;
    height: 60px;
    font-size: 14px; }
  .form input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #a21420;
    transition: .5s; }
  .form textarea:focus {
    border-bottom: 3px solid #a21420;
    transition: .5s; }
  .form label {
    margin-bottom: -25px;
    margin-left: 55px; }
  .form label:first-child {
    margin-top: 65px; }
  .form .box-form {
    width: 50%;
    float: left;
    margin-top: 25px; }
  .form textarea {
    width: 80%;
    margin-left: 25px;
    border: none;
    border-bottom: 1px solid #000c22;
    background: none;
    outline: none;
    height: 230px;
    max-height: 230px;
    max-width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 0; }
  .form .text-area label {
    margin-left: 25px; }
  .form input[type="submit"] {
    width: 250px;
    color: white;
    font-weight: 900;
    font-size: 33px;
    background-color: #a21420;
    text-align: center;
    padding: 10px;
    height: 60px;
    border: none;
    position: relative;
    top: 30px;
    letter-spacing: 10px;
    display: block;
    margin: 0 auto;
    left: 105px;
    padding-top: 5px;
    border: 3px solid #a21420; }
    .form input[type="submit"]:hover {
      background-color: white;
      border: 3px solid #a21420;
      color: #a21420;
      transition: .5s; }
  .form img {
    position: absolute;
    left: 90%;
    margin-top: -350px; }
  .form p {
    font-size: 16px;
    font-weight: 400;
    color: #a21420;
    margin-top: 80px;
    margin-bottom: 80px; }

::-webkit-input-placeholder {
  color: #000c22; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000c22; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000c22; }

:-ms-input-placeholder {
  color: #000c22; }

.container-hidden {
  display: none; }
  .container-hidden img {
    display: none; }

@media only screen and (max-width: 1300px) {
  .ellipse {
    display: none; } }

@media only screen and (max-width: 970px) {
  .container {
    flex-direction: column; }
  .background {
    background: none; }
  .about {
    height: auto; }
  .box-about-right {
    margin-top: 0px; }
  .margin-box-about p {
    text-align: left;
    padding-bottom: 100px; }
  .big-box {
    width: 100%; }
  .list-box {
    flex-direction: column; }
  .popup-box {
    width: 100%; }
  .with-us {
    display: none; }
  .form img {
    display: none; }
  input[type="submit"] {
    margin: 0 auto; }
  .background {
    height: auto; }
  .form {
    margin-top: -50px; }
  .box-about p {
    width: 100%; }
  .margin-box-about {
    width: 100%; }
  .box-about-right p {
    margin: 0;
    width: 100%;
    margin-top: 45px; }
  .container-hidden {
    display: block;
    width: 100%;
    height: 312px; }
    .container-hidden img {
      display: inline-block !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); } }

@media only screen and (max-width: 1500px) {
  .popup-box .box h2 {
    font-size: 24px; }
  .popup-box .box-long h2 {
    font-size: 24px; }
  .form input[type="submit"] {
    left: 0px; } }

@media only screen and (max-width: 600px) {
  .black {
    letter-spacing: 0; }
  .popup-box .box-long h2 {
    font-size: 16px; }
  .box-form {
    width: 100%;
    float: none; }
  .big-box {
    height: 900px; }
  .title-section {
    font-size: 24px; }
  .title-section:after {
    height: 32px; }
  .form .container-withus form .box-form {
    width: 100%; }
  .form .container-withus form {
    height: 750px; }
  .form label:first-child {
    margin-top: 35px; }
  .form textarea {
    margin-left: 45px;
    margin-top: 20px; }
  .form .text-area label {
    margin-left: 55px; }
  .form h3 {
    text-align: center;
    padding: 15px;
     margin-left: 0;
    font-size: 18px;}
  .form h2 {
    width: 250px;
    margin: 0 auto;
    margin-top: -35px; }
  .form p {
    text-align: center; }
  .popup-box .marketing h2 {
    margin-top: 15px; }
  .form input {
    margin-left: 45px; }
  .container-hidden {
    display: block;
    width: 100%;
    height: 312px;
    position: relative; }
    .container-hidden img {
      display: inline-block !important;
      position: absolute;
      top: 15%;
      width: 100%;
      height: auto; }
  .school h2 {
    margin-top: 0; } 
    .mobile-message {
        display: block;
    } 
    .desktop-message {
        margin-top: 500px;
        position: absolute;
        top: 710px;
        left: -9px;
    }}

@media only screen and (max-width: 800px) {
  .white-popup {
    width: 100%;
    height: 100%; }
    .white-popup img {
      display: none; }
    .white-popup p {
      width: 100%;
      padding-bottom: 50px; }
    .white-popup .contanier-popup {
      width: 100%;
      margin: 0 auto; }
    .white-popup .description-popup {
      margin: 0 auto;
      width: 100%;
      text-align: justify; } }

@media only screen and (max-width: 430px) {
  .about p {
    font-size: 14px; }
  .title-section:after {
    display: none; }
  .form label {
    margin-left: 30px; }
  .form input {
    margin-left: 30px; }
  .form textarea {
    margin-left: 0px; }
  .form .text-area {
    margin-left: 30px; }
    .form .text-area label {
      margin-left: 0; }
  .box-long h2 {
    font-size: 9px; }
  .marketing .box h2 {
    margin-top: -5px; }
  .form h2 {
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: -30px;
    padding: 15px; } }

@media only screen and (max-width: 480px) {
  .box-about p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px; }
  .box-about-right, .margin-box-about p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;
    width: 300px;
    margin-left: 0;
    }
  .popup-box .marketing h2 {
    margin-top: -20px; }
  .popup-box .box h2 {
    font-size: 16px; }
  .popup-box .personal h2 {
    font-size: 14px; }
  .about .box-about p {
    margin-left: 0; }
  .popup-box .school h2 {
    margin-top: 60px; }
  .popup-box .box h2 {
    line-height: 30px; }
  .popup-box .special-offer h2 .black {
    font-size: 18px; } }

@media only screen and (max-width: 1175px) {
  .popup-box .marketing h2 {
    letter-spacing: 0; }
  .popup-box .school h2 {
    letter-spacing: 0; } }

@media only screen and (max-width: 700px) {
  .big-box .description-big {
    margin-top: 100px; } }

@media only screen and (min-width: 970px) and (max-width: 1170px) {
  .popup-box .personal h2 {
    font-size: 18px; } }
