
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-black-webfont.woff') format('woff'),
         url('../../assets/fonts/montserrat-black-webfont.ttf') format('truetype'),
         url('../../assets/fonts/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-light-webfont.woff') format('woff'),
         url('../../assets/fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../../assets/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../../assets/fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: 700;
    font-style: normal;

}